.webpage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

body {
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
   }

.nav {
   float: right;
 }

.nav a {
   margin-left: 10px;
 }

.content {
  flex-grow: 1;
  background-color: #ffb38a;
}


.inhalt {
      width: 60%;
      background-color: #f2f2f2;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
    }


  .column {
      flex: 1;
      padding: 10px;
    }

    .column img {
      width: 100%;
      height: auto;
    }

  .row {
      display: flex;
    }

  .product_pic{
      width: 45%;
      height: auto;
  }

  .footer {
  background-color: #EA8500;
  height: 50px;
  width: 100%;
  text-align: center;
}

