.webpage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

body {
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
   }

.header {
  background-color: #ea8500;
  padding: 10px;
  height: 100px;
}

.logo {
  float: left;
  margin-right: 20px;
  height: 100%;
  width: auto;
 }

.nav {
   float: right;
 }

.nav a {
   margin-left: 10px;
 }

.content {
  flex-grow: 1;
  background-color: #ffb38a;
}

.slider {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: none;
}

.slide.active {
  opacity: 1;
}


.inhalt {
      width: 60%;
      background-color: #f2f2f2;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
    }


  .column {
      flex: 1;
      padding: 10px;
    }

    .column img {
      width: 100%;
      height: auto;
    }


.footer {
  background-color: #ea8500;
  height: 50px;
  width: 100%;
}

